{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "semi": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "no-param-reassign": 0,
    "no-multiple-empty-lines": ["error", { "max": 2 }]
  }
}
